<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1781">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <img class="cs-logomark" src="/assets/images/FAST-logo.png" alt="logo" loading="lazy" decoding="async" height="100" width="122">
            <h2 class="cs-title">Go Next Level</h2>
            <span class="cs-outline">F.A.S.T.</span>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <img class="cs-logo" src="/assets/images/fast-atl-logo-2.png" alt="logo" loading="lazy" decoding="async" height="48" width="217">
            <p class="cs-text">Welcome to F.A.S.T. Fitness! We believe that true wellness encompasses the mind, body & soul. </p>
            <ul class="cs-ul cs-ul-contact">
                <li class="cs-li">
                    <span class="cs-topper">Call Coach P</span>
                    <a class="cs-contact" href="">(478) 410 - 8734</a>
                </li>
                <li class="cs-li">
                    <span class="cs-topper">Visit Our Facility</span>
                    <a class="cs-contact" href="">123 Main St <br>Atlanta, GA 30318</a>
                </li>
            </ul>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">Youth Football Training</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Competitive 7v7 League</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">NIL Representation</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 <a href="" class="cs-credit-link" target="_blank">FAST Atlanta</a>
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Terms & Conditions</a>
            <a href="" class="cs-bottom-link">Privacy Policy</a>
        </div>
    </div>
</footer>
                                